hello


{{!-- a form for a user
it's a GET form, and ACTION directs a user to another page
INPUT field will be text
and name of it is ARTIST

SUBMIT BUTTON ALLOWS YOU TO DO THAT --}}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>


    <div>

        <form action="/artist-search" method="get">
            <input type="text" name="artist" placeholder="Artist">

            <button type="submit">Submit</button>

        </form>

    </div>

    {{!--     
<form action="/login" method="post">
    how to validate a valid email - for chrome 
    <input type="email" name="email">
    <input type="password" name="password">
    <button type="submit"> Log in </button>

    </form>

 --}}





</body>

</html>